
@using Entities.DTOs.Category
@model List<GetCategoryDto>
 

<ul>
    @foreach(var item in Model)
    {
         <li>
        <a href="category.html" title="The best restaurants, cafes, bars and shops in town.">@item.Name</a> <span class="badge badge-pill badge-default">5</span>
        </li> 
    }
            
</ul>