
@using Entities.DTOs.User
@model GetUserDto


 <div class="eskimo-page-title">
    <h1><span>@Model.Name</span></h1>
    <p class="eskimo-page-subtitle">@Model.Title</p>
</div>
<div class="row">
        <p>@Model.Overview</p>
</div>