@using Entities.DTOs.User
@model GetUserDto


    <div class="eskimo-author-box eskimo-add-border eskimo-widget">
        <div class="eskimo-author-img">
            <img src="~/BlogTemplate/images/300x300.png" alt="Kübra Kesici" />
        </div>
        <h3><span>@Model.Name</span></h3>
        <p class="eskimo-author-subtitle">@Model.Title</p>
        <div class="eskimo-author-box-btn">
            <a class="btn btn-default" href="about.html">CONTACT ME</a>
        </div>
    </div>