@using Entity.Concrete
@model List<Blog>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/BlogLayout.cshtml";
}

        <!-- Blog Subpage -->
    <section class="pt-page pt-page-5" data-id="blog">
        <div class="section-title-block">
        <h2 class="section-title">Blog</h2>
        <h5 class="section-description">My Diary</h5>
        </div>
        <div class="blog-masonry">
        @foreach(var item in Model)
        {
                <!-- Blog Post 1 -->
            <div class="item" onclick="">
                <div class="blog-card">
                <div class="media-block">
                    <a href="/Blog/Detail/@item.Id/">
                    <img class="post-image img-responsive" src=@item.CoverImage alt="blog-post-1" />
                    <div class="mask"></div>
                    <div class="post-date"><span class="day">@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</span><span class="month"></span><!--<span class="year">2016</span>--></div>
                    </a>
                </div>
                <div class="post-info">
                    <ul class="category">
                    <li><a href="#">@item.Title</a></li>
                    </ul>
                   <!-- <a href="blog-post-1.html"><h4 class="blog-item-title"> item.Subject.Substring(0,item.Subject.Substring(0,130).LastIndexOf(" "))... </h4></a> -->
                   
                   <a href="/Blog/Detail/@item.Id/"><h4 class="blog-item-title"> @item.Subject </h4></a>
                </div>
                </div>
            </div>
            <!-- End of Blog Post 1 -->
        }
        </div>
    </section>
    <!-- End Blog Subpage -->
